body{
    background-color: antiquewhite;
    text-align: center;
}
@font-face {
    font-family: "SpongerFont";
    src: url(SpongeboyRegular-gx2n6.otf);
}
.title{
    font-size: 45px;
    font-family: "SpongerFont";
    color: #7BEB47;
}
.headings{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#spong{
    color: #e7a92a;
}
#Patricia{
    color: #DB6D65;
}
#squig{
    color: #817bee;
}
a{
    display: block;
    border: 2px groove;
    margin: auto;
    width: fit-content;
}